<header class="header" role="banner">
    <div class="inner header--inner">  
      <div class="logo">
            <a href="{{ "/" | relative_url}}" class="logo--link" title="Back to home">
                <img src="{{ "/assets/images/mercury-works-logo.svg" | relative_url}}" class="logo--image" alt="Mercury Works">
            </a>
        </div>
        <nav class="off-canvas off-canvas--direction--right off-canvas--off--xxs margin--off">
            <button type="button" class="button button--white button--small off-canvas--open-button off-canvas--open" aria-controls="off-canvas--menu--xxs">Menu</button>
            <div class="off-canvas--menu" id="off-canvas--menu--xxs">
                <button type="button" class="button button--white off-canvas--close-button off-canvas--close" aria-controls="off-canvas--menu--xxs">Close</button>
                <a class="off-canvas--link" href="{{ "/" | relative_url}}">Home</a>
                {% for page in site.pages %}
                  {% if page.title %}
                  <a class="off-canvas--link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
                  {% endif %}
                {% endfor %}
            </div>
        </nav>
    </div>
</header>
