<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="margin--off" id="top">
    <a href="#main" class="sr-only">Skip to main content</a>
	  <a href="#nav" class="sr-only">Skip to main navigation</a>
    <div class="wrapper margin--off">
      {% include header.html %}
      <main class="main" id="main">
        {{ content }}
      </main>
      {% include footer.html %}
      <div class="overlay"></div>
    </div>
    <script src="{{ "/assets/js/vendor/clipboard.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/custom/main.js" | relative_url }}"></script>
  </body>
</html>
