---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="band band--dark band--primary-color post--header">
    <div class="inner band--inner">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        {% if page.date %}
        <p class="post-meta">
          Added <time datetime="{{ page.date | date: "%B %e, %Y" }}" itemprop="datePublished">{{ page.date | date: "%B %e, %Y at %l:%M %P" }}</time>
        </p>
        {% endif %}
        {% if page.lastUpdated %}
        <p class="post-meta margin--none">
          Updated <time datetime="{{ page.date | date: "%B %e, %Y" }}" itemprop="datePublished">{{ page.lastUpdated | date: "%B %e, %Y at %l:%M %P" }}</time>
        </p>
        {% endif %}
        {% if page.author %}
        <p>
          <img class="author--image" src="http://mercurynewmedia.com/images/default-source/profile-images/{{ page.author | replace: ' ', '' | downcase }}.jpg" alt="{{ page.author }}" />
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</span>{% if page.authorTitle %}<span>, {{ page.authorTitle }}</span>{% endif %}
        </p>
        {% endif %}
    </div>
  </header>
  <div class="band band--white">
    <div class="inner band--inner">
      <div class="row">
        <div class="col col--md-7">
          {{ content }}
          {% if site.disqus.shortname %}
            {% include disqus_comments.html %}
          {% endif %}
        </div>
        <div class="col col--md-1"></div>
        <div class="col col--md-4">
          {% include table-of-contents.html %}
        </div>
      </div>
    </div>
  </div>
</article>